.button:hover .button-layer {
  background-image: linear-gradient(90deg, black, black);
  transition: background-image 0.2s ease-out;
  opacity: 0.7;
}

.button:hover .button-bg {
  opacity: 0.2;
  transition: opacity 0.2s ease-out;
}

.swiper-slide.is-pioneers.w-dyn-item.w-dyn-repeater-item {
  background-color: white;
}

/* Pioneers Animation */

.pioneers_item .pioneers_hover {
  transform: translate(0px, 1.5rem);
}

.pioneers_item:hover .pioneers_hover {
  opacity: 1;
  z-index: 1;
  transform: translate(0px, 0rem);
}

.pioneers_item:hover .pionners_galerie-images {
  filter: brightness(30%);
}

@media screen and (max-width: 767px) {
  .pioneers_item .pioneers_hover {
    opacity: 1;
    z-index: 1;
    transform: translate(0px, 0rem);
  }

  .pioneers_item .pionners_galerie-images {
    filter: brightness(30%);
  }
}
